.Filter{
  padding: 20px 10px 10px 10px;
}

.Filter_Input{
  display: flex;
  justify-content: flex-end;
}

.Filter_Actions{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.Autocomplete{
  width: 245px;
  margin: 0px 4px;
}

.DateTextField{
  width: 245px !important;
  margin: 0px 4px !important;
}

.DateTextField input{
  height: 20px;
}

.DateTextField label{
  transform: translate(14px, 12px) scale(1);
}

.Filter_Actions_Buttom{
  width: 180px;
  margin: 0px 4px !important;
}